#wrapper{
	width:96%;	
}

/*-------- header --------*/

#wrapper .header-slogan{
	font: 2em Constantia, serif;
	
}

header{
	height:320px;	
	text-align:center;
}

header address{
	font-size: 1em;
}

header .call{
	position: absolute;
	width:110px;
	top:55px;
	left:50%;
	margin-left:-55px;

}

header nav  li a{
	padding:0 10px;
	font-size: .875em;
}

#wrapper .header-slogan{
	margin:30px 0 15px;
	height:49px;
	font-weight:600;
}

header .header-search{
	float:none;
	margin:45px auto 15px;
	width:100%;
}

header .header-search .searchInp{
	width:70%;
	font-size:1.5em;
}

header nav{
	margin:0;
}

header nav li{
	float:none;
	text-align:center;
	border-bottom:2px solid #212121;
}

header nav li:nth-child(2){
	border-left:none;
	border-right:none;
}

header nav li a{
	padding:0;
	font-size:1.5em;
}

header .section-tags{
	display: none;
}

/*-------- section --------*/
section{
	width:100%;
}

h3 a{
	font-size: .875em;
}

article{
	margin:0 0 10px;
}

article p{
	font-size: 1em;
}

/*-------- aside --------*/

aside{
	width:100%;
	float:none;
	clear:left;
	margin-bottom:10px;
}

aside h2{
	font-size: 1.5em;
}


/*-------- footer --------*/
footer{
	height:120px;
	border-top:5px solid #757575;
}

footer .footer-tags{
	display: none;
}

footer .footer-divide{
	display: none;
}

footer .copyright{
	margin-top:90px;
}

footer ul li a{
	font-size: .75em;
}