#wrapper{
	width:95%;	
}

#wrapper .header-slogan{
	font: 2.5em Constantia, serif;
}

header{
	
	
}

header nav  li a{
	padding:0 10px;
	font-size: .875em;
}

header .header-slogan{
	margin:5px 0 15px;
	height:79px;
}



.fixedMenu{
		display:none;
}