@charset "UTF-8";
@import "reset.css";

$font : Calibri, sans-serif;
$font-color : #212121; 

/*-------------- mixins ----------------*/
@mixin border-radius($px){
	-webkit-border-radius: $px;
	-moz-border-radius: $px;
	border-radius: $px;
}

/*------------- extends ------------*/

.border-box, div, h1, h2, h3, h4, label, span, input, li, a, header, section, article, footer, aside{
	box-sizing: border-box;
}

.style1{
	border: 1px solid #e0e0e0;
	background: #f5f5f5;
	background: -webkit-linear-gradient(#fafafa, #f5f5f5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fafafa, #f5f5f5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fafafa, #f5f5f5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fafafa, #f5f5f5); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	@include border-radius(2px);
}

.hover-style{
	color:black;
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
	&:hover{
		color:#ffa302;
		text-decoration: underline;
	}	
}


body{
	font-family: $font;
	font-size: 1em;
}

a{
	text-decoration:none;
	border:none;
}

a:visited{
	
}

#wrapper{
	width:66.666666%;
	margin:0 auto;
	max-width:1024px;
	min-width:320px;
	@extend .border-box;
}

aside{
	width:30.3125%;  /* 291/960 */
	float:right;
	@extend .border-box;	
	@extend .style1;
}

footer{
	clear:both;
	@extend .border-box;
}

/* ---------------- header -------------------*/

header{
	padding:15px 0 0;
	height: 305px;
	color: $font-color;
	position:relative;
	margin-bottom:20px;
	address{
		display: inline-block;
		font-size:0.75em;
		
		br{
			display:none;
		}
	}
	
	.call{
		display: inline-block;
		margin-left:1%;
		color: #ffa302;
		border-bottom: 1px dashed #ffa302;
		@extend .hover-style;
		&:hover{
			color:#424242;
			text-decoration:none;
			border-bottom: 1px dashed #424242;
		}
	}
	
	.header-slogan{
		height:79px;
		text-align: center;
		color:#424242;
		font: 4em Constantia, serif;
	}
	
	.header-search{
		float:right;
		border-bottom:1px solid $font-color;
		width:150px;
		
		img{
			position:relative;
			top:1px;
		}
		
		.searchInp{
			width:130px;
			padding:5px 10px;
			color:#757575;
			font-size:.875em;
			height:2em;
			border:none;
			
			&:focus{
				outline:none;
			}
		}
	}
	
	nav{
		margin-top: 45px;
		li{
			float:left;			
			a{
				display:block;
				padding:0 40px;
				height: 30px;
				line-height:30px;
				color:$font-color;			
				font-size:1em;

				@extend .hover-style;
			}
			
			&:nth-child(2){
				border-left: 1px solid $font-color;
				border-right: 1px solid $font-color;
			}
		}
		

	}
	
	.tags-block{
		margin-top:80px;
		height:85px;
		width:100%;
		.centerfix{
			padding:0 10px;
			margin:5px 0;
			
			.tags-wrapper{
				background: $font-color;
				height:65px;
			}
		}
		.tags-top-line, .tags-bottom-line{
			height:10px;
			background-color: $font-color;
			position:relative;
		}
		
		.tags-top-line::before,.tags-top-line::after, .tags-bottom-line::before, .tags-bottom-line::after{
			content:"";
			position:absolute;
			top:0;
			width:0;
		}
		
		.tags-top-line::before{
			left:-10px;
			border-bottom:10px solid #fff;
			border-left:10px solid transparent;
			border-right:10px solid transparent;
		}
		
		.tags-top-line::after{
			right:-10px;
			border-bottom:10px solid #fff;
			border-left:10px solid transparent;
			border-right:10px solid transparent;
		}
		
		.tags-bottom-line::before{
			left:-10px;
			border-top:10px solid #fff;
			border-left:10px solid transparent;
			border-right:10px solid transparent;
		}
		
		.tags-bottom-line::after{
			right:-10px;
			border-top:10px solid #fff;
			border-left:10px solid transparent;
			border-right:10px solid transparent;
		}
		
	}
}

.fixedMenu{
	background:rgba(0,0,0,.7);
	height:30px;
	opacity:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:999;
	ul{
		width:66.666666%;
		margin:0 auto;
		display:flex;
		
		li{
			flex:1;
			a{
				display:block;
				padding:0;
				height: 30px;
				line-height:30px;
				color:#fafafa;	
				font-size:1em;
				text-align:center;
				@extend .hover-style;
			}
			
			&:nth-child(2){
				border-left: 1px solid #fafafa;	
				border-right: 1px solid #fafafa;	
			}
			
			&:last-child{
				border-left: 1px solid #fafafa;	
				a{
				color: #ffa302 !important;
				&:hover{
					color:#fafafa !important;
				}
			
			}
			}
			
		}
	}
}

/* ------------------- section -------------------*/

section{
	width: 67.60416%; /* 649/960 */
	float:left;
	margin: 0 0 20px;
	position:relative;
	@extend .border-box;
	
	.nextPosts{
		position:relative;
		left:50%;
		margin-left:-16px;
		width:32px;
	}
}

article{
	margin: 0 0 30px;
	color: #424242;
	@extend .border-box;
	@extend .style1;
	
	.section-article-header{
		min-height:49px;
		padding:3px 2.61941% 0;
		border-bottom: 2px solid #e0e0e0;
		background: #f5f5f5;
		background: -webkit-linear-gradient(#fafafa, #f5f5f5); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#fafafa, #f5f5f5); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#fafafa, #f5f5f5); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#fafafa, #f5f5f5); /* Standard syntax */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */

		h3{
			font-size:1.5em;
			
			a{
				color:$font-color;
				@extend .hover-style;
				&:hover{
					text-decoration:none;
				}
			}	
		}

		.section-article-header-date{
			padding: 5px 0 5px;
			font-size: .75em;
			color:#757575;
		}	
	}
	
	p{
		text-align: justify;
		padding:17px 2.61941% 0;
		font-size: .875em;
		line-height:1.2em;
	}
	
	.details{
		display: block;
		margin: 15px 0 20px 2.61941%;
		color:$font-color;
		font-size: 1em;
		text-decoration: underline;
		@extend .hover-style;
	}
	
}

/*------------ aside --------------*/

aside{
	h2{
		height:49px;
		text-align:center;
		border-bottom: 2px solid #e0e0e0;
		font-size:1.5em;
		line-height:47px;
		color:$font-color;
		background: #f5f5f5;
		background: -webkit-linear-gradient(#fafafa, #f5f5f5); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#fafafa, #f5f5f5); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#fafafa, #f5f5f5); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#fafafa, #f5f5f5); /* Standard syntax */	
	}
	
	ul{
		padding:17px 4.81099% 17px;
		li{
			min-height:40px;
			display: block;
			padding:5px 0;
			a{	
				display: inline-block;
				vertical-align: middle;
				padding-left:5px;
				font-size:.875em;
				color: $font-color;
				@extend .hover-style;
			}
			
			&:before { /* для IE8+ */
			  content: "";
			  display: inline-block;
			  height: 100%;
			  vertical-align: middle;
			}			
		}
		
		li:not(:last-child){			
			border-bottom: 1px solid #e0e0e0;		
		}
	}
}

/*------------------- footer --------------------*/

footer{
	height:150px;
	
	
	ul{
		float: left;
		margin: 10px 2.29166% 0;
		li{
		
			a{
				color: #fafafa;
				font-size: .875em;
				line-height:1.5em;
				@extend .hover-style;
			}
		}
	}
}

.footer-head{
	height:10px;
	position:relative;
	background: $font-color;
	margin-bottom:1px;
}

.footer-head::before,.footer-head::after{
	content:"";
	position:absolute;
	width:0;
	top:0;
}

.footer-head::before{
	left:-10px;
	border-top:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}

.footer-head::after{
	right:-10px;
	border-top:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}

.footer-content-wrapper{
	background:$font-color;
	height:100%;
}

.footer-contacts{
	float: right;
	margin: 10px 2.29166% 0;
	text-align: right;
	address{
		color: #fafafa;
		font-size: .75em;
		line-height:1.5em;
	}
}

.copyright{
	display:block;
	clear:both;
	padding-top:50px;
	text-align:center;
	color: #fafafa;
	font-size: .75em;
}









